ul{
    display: flex;
    flex-wrap: wrap;
}
.image img{
    width:100%;
    height:70vh;
    
}
.image{
    position:relative;
}
.image .but{
    position: absolute;
    top: 50%;
    left: 25%;
}
.image button{
    height:6vh;
    padding:6px;
    background-color: rgba(9, 185, 9, 0.938);
    font-family: cursive;
    border-radius: 15%;
}
.image input{
    width:40vw;
    height:6vh;
}
